## Item Legacy 配置
## 修改后需要重启游戏才会生效。

[Cards]

## 卡牌遗产是否继承上一局的升级和附魔。
## false：只继承同名基础版卡牌。
## true：继承升级等级、附魔和保存属性。
# Setting type: Boolean
# Default value: false
InheritUpgradesAndEnchantments = false

[Relics]

## 允许继承的遗物种类，使用英文枚举名，多个值用英文逗号分隔。
## 可用值：None, Starter, Common, Uncommon, Rare, Shop, Event, Ancient
## 也可以填 All 允许所有种类。
# Setting type: String
# Default value: Common, Uncommon, Rare, Shop
InheritableRarities = Common, Uncommon, Rare, Shop
